

body{
    
}


main{
    background:lightblue;
    width: 50%;
    margin: 0 auto;
    height:50%;
    text-align: center;
    padding-top: 1rem;
}
.inputs{
    text-align: left;
    padding-left:1rem;
    position:relative;
}
.inputs label, .inputs input, .inputs #room{
    display: block;
    width:90%;
    margin-bottom: .5rem;
    height:10%;
}

button{
    position: absolute;
    display: block;
    width:90%;
    margin-bottom: 5rem;
    bottom: -90%;
    height: 20%;
    left: 9px;
}

